# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environments
.env

# SQLite
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
